  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
            <h5 class="card-title text-center">MyBank</h5>
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
            <form class="form-signin">
              <div class="form-label-group">
                <input type="text" id="inputNomeCompleto" class="form-control" placeholder="Nome completo" required autofocus>
                <label for="inputNomeCompleto">Nome completo</label>
              </div>

              <div class="form-label-group">
                <input type="number" id="inputIdade" class="form-control" placeholder="Idade" required autofocus>
                <label for="inputIdade">Idade</label>
              </div>

              <div class="form-label-group">
                <input type="text" id="inputEndereco" class="form-control" placeholder="Endereço" required autofocus>
                <label for="inputEndereco">Endereço</label>
              </div>

              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required>
                <label for="inputPassword">Senha</label>
              </div>

              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Cadastrar</button>
              <a class="d-block text-center mt-2 small" href="#">Log In</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>